:root {
    --base-color: #232327;
    --base-color-dark: #090909;
    --base-color-light: #343437;
    --base-color-accent: #26262A;
    --base-color-accent-dark: #1d1d21;
    --base-color-accent-light: #404044;

    --text-color: beige;
    --text-color-selected: rgba(245, 245, 220, 0.72);
    --text-color-secondary: #bbb;
    --text-color-tertiary: grey;
    --text-color-focus: yellow;

    --ctrl-element-color-bg: rgba(0, 255, 255, 0.1);
    --ctrl-element-color-main: rgba(103, 85, 0, 0.7);
    --ctrl-element-color-focus: gold;

    --button-color-bg: var(--text-color);
    --button-color-bg-focus: var(--text-color-focus);
    --button-color-fg: var(--base-color);
    --button-color-fg-focus: var(--base-color);

    --color-certified-gold: rgba(255, 215, 0, 1);
    --color-rank-gold: rgba(255, 215, 0, 1);
    --color-rank-silver: rgba(192, 192, 192, 1);
    --color-rank-bronze: rgba(205, 127, 50, 1);

    --bar-animation-duration: 5s;
/*
    --color-certified-diamond: 103, 161, 253;
    --color-certified-platinum: 229, 228, 226;
    --color-certified-gold: 255, 215, 0;

    --color-rank-gold: var(--color-certified-gold);
    --color-rank-silver: 192, 192, 192;
    --color-rank-bronze: 205, 127, 50;

 */
}

body {
    --current-bg-color: var(--base-color); /* drag this information through inheritances */
    background-color: var(--current-bg-color);
    color: var(--text-color);
    font-family: "Ubuntu", sans-serif;
}

/** Links **/

a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/** Inputs **/

input[type="text"], input[type="number"] {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid var(--text-color);
    color: white;
}

input:focus {
    outline: 0;
    background-color: var(--base-color-accent-light);
}

/* for links in running text */
a.textlink {
    color: var(--text-color-focus);
}
a.hidelink:hover {
    /* for linked images etc */
    text-decoration: none;
}

/** Scrollbar **/

::-webkit-scrollbar {
    width: 8px;
    cursor: pointer;
}
::-webkit-scrollbar-track {
    background-color: var(--ctrl-element-color-bg);
}
::-webkit-scrollbar-thumb {
    background-color: var(--ctrl-element-color-main);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--ctrl-element-color-focus);
}


/* TABLES */
table.entity_table {
    --current-bg-color: transparent;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    border-collapse:collapse;
    table-layout: fixed;
    width: 90%;


}
table.entity_table tr:nth-child(even) {
    --current-bg-color: rgba(255,255,255,0.05);
    /* make rows distinguishable with respect to any bg color */
}
table.entity_table tr:hover {
    --current-bg-color: rgba(255,255,255,0.2);
}
table.entity_table tr {
    background-color: var(--current-bg-color);
    border-color: var(--current-bg-color);
}
table.entity_table tr td {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 3px;
    padding-left: 3px;
    height: 1.4em;
    white-space: nowrap;
    position: relative;
}

table.entity_table span.secondary_cell_info {
    color: var(--text-color-secondary);
}
table.entity_table td.time {
    font-size: 90%;
    color: var(--text-color-tertiary);
    width: 11em;
}
table.entity_table td.timerange {
    width: 9em;
}
table.entity_table td.rank {
    text-align: right;
    color: var(--text-color-tertiary);
    width: 2em;
}
table.entity_table td.amount {
    text-align: right;
    width: 2em;
    padding-right: 1em;
}
table.entity_table td.bar {
    width: 30em;
}
table.entity_table td.bar div {
    background-color: var(--text-color);
    position: absolute;
    top: 2px;
    bottom: 2px;
    display:inline-block;
    animation: grow_bar var(--bar-animation-duration) forwards;
}
table.entity_table tr:hover td.bar div {
    background-color: var(--text-color-focus);
}
table.entity_table td.rank_bar div {
    background-color: var(--base-color-accent-dark);
    background-position: right;
    background-repeat:no-repeat;
    background-size: auto 100%;
    position: absolute;
    top: 2px;
    bottom: 2px;
    display:inline-block;
    border-right: 7px solid;
    border-color: var(--text-color); /* default for no rank */
    animation: grow_bar var(--bar-animation-duration) forwards;
}
@keyframes grow_bar {
    from {
        width: 0;
    }
}

input.tab_radio {
    display: none;
}
input.tab_radio + label {
    opacity: 0.5;
    cursor: pointer;
}
input.tab_radio:checked + label {
    opacity: 1;
}

input.tab_radio ~ table.entity_table {
    display: none;
}
input.tab_radio_1:checked ~ table.entity_table.tab_content_1,
input.tab_radio_2:checked ~ table.entity_table.tab_content_2,
input.tab_radio_3:checked ~ table.entity_table.tab_content_3,
input.tab_radio_4:checked ~ table.entity_table.tab_content_4 {
    display: table;
}



/** BASE LAYOUT **/

main {
    display: grid;
    padding: 20px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 350px 500px 500px;
    min-height: 99%;
}
main section#top_info {
    grid-row: 1;
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: 230px 1fr;

    padding-bottom: 30px;
}
main section#top_info #top_image {
    grid-row: 1;
    grid-column: 1;
    height: 200px;
    width: 200px;
    object-fit: cover;
}
main section#top_info #top_textblock {
    grid-row: 1;
    grid-column: 2;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;

    background-color: var(--base-color-dark);

    display: flex;
    align-items: center;

    opacity:1;
}

footer #left-side, footer #right-side {
    flex: 1 1 0;
}

footer #left-side {
    text-align: left;
    padding-left: 10px;
}

footer #right-side {
    text-align: right;
    padding-right: 10px;
}

footer #notch {

    --notch-size: 70px;
    background-color: var(--base-color-dark);
    width: var(--notch-size);
    height: var(--notch-size);
    position: relative;
    margin-top: -5px;
    z-index: 1;

    border-radius: 50%;
    transform: translate(0%, -40%);
}

footer #notch img {
    --notch-img-size: 80px;
    position: absolute;
    top: calc((var(--notch-size) - var(--notch-img-size)) / 2);
    left: calc((var(--notch-size) - var(--notch-img-size)) / 2);

    width: var(--notch-img-size);
    height: auto;

}
footer #notch img:hover {
    /*transform: scale(1.1);*/
    animation: spin 4s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
          transform: rotate(360deg);
      }
}



/* head section */
h1#heading {
    font-size: 35px;
    margin: 0;
}
span#pre_heading, span#post_heading {
    font-size: 19px;
}