{% extends "abstracts/base.html" %}

{% import "macros/entities.askama" as entities %}
{% import "macros/lists.askama" as lists %}
{% import "macros/pulse.askama" as pulse %}

{% block title %}{{ track.title }} - Maloja{% endblock title %}

{% block pre_heading %}
    {% call entities::artist_links(track.artists) %}
{% endblock pre_heading %}
{% block heading %}{{ track.title }}{% endblock heading %}
{% block post_heading %}
    {% match track.album %}
        {% when Some with (album) %}
            from {% call entities::album_link(album) %}
        {% when None %}
    {% endmatch %}
{% endblock post_heading %}

{% block top_info %}

{% endblock top_info %}

{% block body_sections %}
<section>
    <h2><a href="/scrobbles?track={{ track.id }}">Scrobbles</a></h2>
    {% call lists::list_scrobbles(scrobbles[..scrobbles.len().min(16)]) %}
</section>
<section>
    <!-- Empty section, we always want pulse and performance on one level -->
</section>
<section>
    <h2><a href="/pulse?track={{ track.id }}">Pulse</a></h2>
    {% call pulse::multi_pulse(pulses) %}
</section>
<section>
    <h2><a href="/performance?track={{ track.id }}">Performance</a></h2>
    {% call pulse::multi_performance(performances) %}
</section>
{% endblock %}